{% include "network/pagination.html" %}
{% load static %}
{% load network_filters %}

{% for post in all_posts %}
    <div class="post" id="post-{{ post.id }}">
        <div class="creator">
            <a class="nav-link" href="{% url 'profile' post.creator.id %}">
                {{ post.creator }}
            </a>
        </div>
        {% if user.id is post.creator.id %}
            <button class="btn btn-link edit-button" onclick="editPost({{ post.id }})">Edit</button>
        {% endif %}
        <div class="like-count">
            &#128151; <span id="post-like-count-{{ post.id }}">{{ post.likes.count }}</span>
        </div>
        {% if user.is_authenticated %}
            {% with liked=post.likes|user_likes:user up_button="&#128077;" down_button="&#128078;" %}
                <button type="button" class="btn btn-outline-primary like-button"
                        onclick="toggleLike(this, {{ post.id }}, {{ liked|yesno:"true,false" }})"
                        data-up-button="{{ up_button }}"
                        data-down-button="{{ down_button }}"
                >
                    {% if liked %}
                        {{ down_button }}
                    {% else %}
                        {{ up_button }}
                    {% endif %}
                </button>
            {% endwith %}
        {% endif %}
        <div class="created-time">
            {{ post.created }}
        </div>
        <div class="content">
            {{ post.content }}
        </div>
    </div>
{% endfor %}

{% include "network/pagination.html" %}
<script src="{% static "network/index.js" %}"></script>
