body {
    font-family: "Comic Sans MS", cursive;
}

textarea.edit-post {
    min-height: 300px;
    width: 80vw;
    resize: vertical;
    margin-bottom: 10px;
}

.body {
    margin: 0 10px;
}

.post {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 25px;
    display: grid;
    grid-template-areas:
        "creator edit-button like-count like-button"
        "created-time created-time created-time created-time"
        "content content content content"
        "edit-content edit-content edit-content edit-content";
    grid-template-columns: 1fr auto auto auto;
    grid-gap: 10px;
    align-items: baseline;
}

.post .edit-button {
    grid-area: edit-button;
}

.post .like-count {
    grid-area: like-count;
}

.post .like-button {
    grid-area: like-button;
}

.post .creator {
    grid-area: creator;
    font-weight: bold;
}

.post .created-time {
    grid-area: created-time;
    font-size: small;
}

.post .content {
    grid-area: content;
}

.post .edit-content {
    grid-area: edit-content;
}

.profile-name {
    text-align: center;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 25px;
}

.follow {
    text-align: center;
}

.follow .followers,
.follow .following {
    font-size: larger;
}
